[Unit]
Description= dummy service

[Service]
ExecStart=/usr/bin/dummy-start.sh
ExecStopPost=/usr/bin/dummy-stop.sh

[Install]
WantedBy=multi-user.target